@media (min-width: 1366px) {
  /*********************************RESETS AND DEFAULTS*********************************/
  body {
    background: url(../images/bg-desktop.png) top left/cover no-repeat;
  }  

  h1 {
    font-size: 64px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  p {
    font-size: 30px;
    color: var(--black3);
  }

  .content {
    width: 90%;
  }

  .button {
    width: 190px;
    height: 60px;
    border-radius: 156px;
    background-color: var(--redPink);
    font-size: 30px;
  }

  footer {
    height: 95px;
  }

  #btntop {
    cursor: pointer;
    width: 70px;
    left: 60px;
  }

  footer p {
    font-size: 36px;
  }

  /*********************************SECTION-WORKPLACE*********************************/  
  #section-workplace-woman {
    width: 636px;
    margin-top: 100px;
  }

  .section-graph img:first-child {
    display: none;
  }

  .section-graph img:last-child {
    display: block;
  }

}