@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*********************************RESETS AND DEFAULTS*********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* height: 1995px; */
  position: relative;
  background: url(../images/bg-mobile.png) no-repeat top left;
  background-size: cover;
}

.hidden {
  max-height: 100vh;
  overflow: hidden !important;
}

:root {
  --black1: #222;
  --black2: #3C3C3C;
  --black3: #6A6A6A;
  --white: #F5F5F5;
  --redPink: #F50057;
  --purple1: #6C63FF;
  --purple2: #536DFE;
  --blue: #00B0FF;
  --orange: #F9A826;
}

h1, h2, h3 {
  color: var(--black1);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 15px;
  color: var(--black3);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 80px;
  background-color: var(--redPink);
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

/*black-bg-menu*/
#menubg {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
  background-color: rgba(0, 0, 0, .5);
}

.body_open_menu {
  display: block !important;
  opacity: 1 !important;
}
/*-------------*/

.content {
  width: 95%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  background-color: var(--blue);
}

footer p {
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
}

#btntop {
  cursor: pointer;
  width: 30px;
  position: absolute;
  left: 30px;
}

/*********************************HEADER*********************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-top: 10px;
}

.menu-hamb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 14px;
  right: 15px;
  z-index: 1;
}

/*input[type: checkbox]*/
#header-menu-checkbox {
  display: none;
}
/***********************/

#hamb {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--black1);
}

#hamb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--black1);
}

#hamb::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--black1);
}

/*menu-container*/
#header-menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -300px;
  transition: transform .6s;
  background: var(--white) url(../images/bg-mobile-menu.png) no-repeat top right;
  list-style: none;
}

.header-menu {
  transform: translatex(-300px); 
}
/*--------------*/

.header-menu_nav li a {
  font-size: 24px;
  font-weight: 450;
  text-decoration: none;
  color: var(--black2);
}

.header-menu_nav li:not(:last-child) {
  margin-bottom: 20px;
}

#search-icon {
  position: absolute;
  bottom: 14px;
  left: 16px;
}

#header-menu-woman {
  position: absolute;
  right: 10px;
  bottom: 14px;
}

/*********************************SECTION-WORKPLACE*********************************/
.section-workplace {
  /* height: calc(200vh - 52px); */
  margin-bottom: 60px;
}

#section-workplace-woman {
  width: 100%;
  margin-top: 80px;
}

.section-workplace-txt {
  margin-top: 200px;
}

.section-workplace-txt h1 {
  margin-bottom: 15px;
}

.section-workplace-txt p {
  margin-bottom: 20px;
}

/*********************************SECTION-WHYME*********************************/
.section-whyme {
  margin-bottom: 90px;
}

.section-whyme h2 {
  margin-bottom: 35px;
}

.section-whyme-container {
  display: flex;
  margin-bottom: 15px;
}

.section-whyme-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--purple2);
  margin-right: 15px;
}

.section-whyme-icon img {
  width: 60px;
  height: 60px;
}

.section-whyme-txt {
  width: 65%;
}

/*********************************SECTION-COMPUTER*********************************/
.section-computer {
  margin-bottom: 90px;
}

.section-computer img {
  display: block;
  margin: auto;
}

.section-computer .button {
  margin: 20px auto 0;
}

/*********************************SECTION-GRAPH*********************************/
.section-graph {
  margin-bottom: 60px;
}

.section-graph img {
  width: 100%;
}

.section-graph img:last-child {
  display: none;
}

