@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*********************************RESETS AND DEFAULTS*********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --black1: #222;
  --black2: #3C3C3C;
  --black3: #6A6A6A;
  --white: #F5F5F5;
  --redPink: #F50057;
  --purple1: #6C63FF;
  --purple2: #536DFE;
  --blue: #00B0FF;
  --orange: #F9A826;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

.hidden {
  height: 100vh;
  overflow: hidden !important;
}

h1, h2, h3 {
  color: var(--black1);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 15px;
  color: var(--black3);
}

img {
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 80px;
  background-color: var(--redPink);
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

/*black-bg-menu --------- !!!!DYNAMIC!!!!*/
#menubg {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .4s;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
}

.body_open_menu {
  display: block !important;
  opacity: 1 !important;
}
/*---------------------------------------*/

.content {
  width: 95%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: var(--blue);
}

#btntop {
  pointer-events:all;
  width: 30px;
  position: absolute;
  left: 30px;
}

footer p {
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
}

.footer-icons {
  display: none;
}
